

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeRules</title>
    
    <script src="~/JS/EmpRules.js"></script>

</head>
<body>
    <div class="container">
        <h2>Employee Rules</h2>
        <hr />
        @*<div class="modal fade" id="MyModal" tabindex="1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title" id="myModalLabel">Add Group</h4>
                    </div>*@
        <div>
            <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Save</button>
            <button type="button" class="btn btn-primary" id="btnShow" onclick="Show();">Show</button>
            <button type="button" class="btn btn-default" onclick="clearTextBox();">Close</button>
        </div>

        <div class="modal-body">
            <form>

                <input type="hidden" id="empruleId" />
                <input type="hidden" id="hdnLength" />
                <div class="form-group">
                    <label for="GroupName">Group</label>
                    <select id="ddl_Group"><option value="0">Select</option></select>

                </div>

                <div class="form-group">
                    <label for="DivisionName">DivisionName</label>
                    <select id="ddl_Division"><option value="0">Select</option></select>
                </div>

                <div class="form-group">
                    <label for="EmployeeId">EmployeeId</label>
                    <input type="text" class="form-control" id="txt_EmloyeeId" placeholder="EmployeeId" maxlength="15" />
                    <input type="hidden" id="hdnEmpId" />
                </div>

                <div class="form-group">
                    <label for="Employeename">Employee Name</label>
                    <input type="text" class="form-control" id="txt_Employeename" placeholder="Employee Name" maxlength="15" />
                </div>
            </form>
        </div>

        @*</div>
                </div>
            </div>*@
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearText();">Add Menu</button>*@
        <br /><br />
        <div id="emprulebind">


        </div>
    </div>


</body>
</html>
