
<script src="~/JS/Dashboard.js"></script>
<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-box">
                <div class="welcome-img">
                    <img alt="" src="assets/img/profiles/avatar-02.jpg">
                </div>
                <div class="welcome-det">
                    <h3>Welcome, John Doe</h3>
                    <p>Monday, 20 May 2019</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-3">


            <section>
                <div class="card recent-activity">
                    <div class="card-body">
                        <h5 class="card-title">Today Activity</h5>
                        <ul class="res-activity-list" id="Timings">
                            <li>
                                <p class="mb-0">Punch In at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    10.00 AM.
                                </p>
                            </li>
                            <li>
                                <p class="mb-0">Punch Out at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    11.00 AM.
                                </p>
                            </li>
                            <li>
                                <p class="mb-0">Punch In at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    11.15 AM.
                                </p>
                            </li>
                            <li>
                                <p class="mb-0">Punch Out at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    1.30 PM.
                                </p>
                            </li>
                            <li>
                                <p class="mb-0">Punch In at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    2.00 PM.
                                </p>
                            </li>
                            <li>
                                <p class="mb-0">Punch Out at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    7.30 PM.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-lg-9 col-md-9">
            <div class="dash-sidebar">

                <section>
                    <h5 class="dash-title">Your Leave</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>4.5</h4>
                                    <p>Leave Taken</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>12</h4>
                                    <p>Remaining</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Apply Leave</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h5 class="dash-title">Upcoming Holiday</h5>
                    <div class="card">
                        <div class="card-body">
                            <table>

                                <tbody class="Tdata"></tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section>
                    <h5 class="dash-title">Your time off allowance</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>5.0 Hours</h4>
                                    <p>Approved</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>15 Hours</h4>
                                    <p>Remaining</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Apply Time Off</a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>


    </div>
</div>
<!-- /Page Content -->
