
    
  
    
    <script src="~/JS/Department.js"></script>

    <div class="container">
        <h2>Department</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();">Add Department</button>
        <br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Division Name</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="MyModal" tabindex="1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Add Department</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <input type="hidden" id="hdnDepartmentID" />

                        <div class="form-group">
                            <label for="DivisionName">Division Name</label>
                            <select id="ddl_Division"><option>Select</option></select>                            
                        </div>
                        <div class="form-group">
                            <label for="DepartmentName">Department Name</label>
                            <input type="text" class="form-control" id="txt_DepName" placeholder="Department Name" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddDepartment();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateDepartment();" style="display:none">Update</button>
                    <button type="button" class="btn btn-default" onclick="clearTextBox();">Close</button>
                </div>
            </div>
        </div>
    </div>

