



<script src="~/JS/Department.js"></script>
<script src="~/JS/Common.js"></script>

<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Department</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Department</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Department</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblDepartment" class="table table-stripped mb-0">
                            <thead>
                                <tr>
                                    @*<th style="width: 30px;">#</th>*@

                                    <th>Sno</th>
                                    <th>Department Name </th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- /Page Content -->
<!-- Add Department Modal -->
<div id="add_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearDept()" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" id="hdnDivisionID" />
                        <label>Group Name <span class="text-danger">*</span></label>
                        <select id="ddl_Group"class="form-control validate"><option>Select</option></select>

                    </div>
                    <div class="form-group">
                        <input type="hidden" id="hdnDepId" />
                        <label>Department Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control validate" id="txtDepName" onkeypress="return onlyString(event)" placeholder="Department Name" />
                    </div>
                    <div class="submit-section">

                        <button type="button" class="btn btn-primary submit-btn" id="btnAdd" onclick="return Insert_Dept();">Add</button>
                        <button type="button" class="btn btn-primary submit-btn" id="btnUpdate" onclick="Update_Dept();" style="display:none">Update</button>

                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="errMsg alert-box alert-success border-0 disabled" role="alert">
                            @*<button type="button" class="close" data-dismiss="alert" >
                    <span aria-hidden="true">×</span>
                </button>*@
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="errMsg1 alert-box alert-danger border-0 disabled" role="alert">
                            @*<button type="button" class="close" data-dismiss="alert" >
                    <span aria-hidden="true">×</span>
                </button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Department Modal -->
<!-- Delete Department Modal -->
<div class="modal custom-modal fade" id="delete_department" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Department</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">

                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary continue-btn" onclick="return DeleteDept();">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn" onclick="return clearTextBox();">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Department Modal -->





