<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Designation</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Designation</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_Designation"><i class="fa fa-plus"></i> Add Designation</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblDesignation" class="table table-stripped mb-0">
                            <thead>
                                <tr>
                                    @*<th style="width: 30px;">#</th>*@

                                    <th>Designation Name</th>
                                    <th>Level Id</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Designation Modal -->
<div id="add_Designation" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Designation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" id="hdnDesignationID" />
                        <label>Designation Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control validate" id="txt_DesignationName" placeholder="Designation Name" />
                    </div>
                    <div class="form-group">
                        <select id="ddl_Designation" class="form-control validate">
                            <option value="0">Select</option>
                            <option value="1">Level1</option>
                            <option value="2">Level2</option>
                            <option value="3">Level3</option>
                            <option value="4">Level4</option>
                            <option value="5">Level5</option>
                            <option value="6">Level6</option>
                            <option value="7">Level7</option>
                            <option value="8">Level8</option>
                            <option value="9">Level9</option>
                            <option value="10">Level10</option>
                        </select>
                    </div>
                    <div class="submit-section">

                        <button type="button" class="btn btn-primary submit-btn" id="btnAdd" onclick="return Insert_Des();">Add</button>
                        <button type="button" class="btn btn-primary submit-btn" id="btnUpdate" onclick="Update_Des();" style="display:none">Update</button>

                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="errMsg alert-box alert-success border-0 disabled" role="alert">
                            @*<button type="button" class="close" data-dismiss="alert" >
                                    <span aria-hidden="true">×</span>
                                </button>*@
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="errMsg1 alert-box alert-danger border-0 disabled" role="alert">
                            @*<button type="button" class="close" data-dismiss="alert" >
                                    <span aria-hidden="true">×</span>
                                </button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Designation Modal -->
<!-- Delete Designation Modal -->
<div class="modal custom-modal fade" id="delete_Designation" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Designation</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">

                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary continue-btn" onclick="return DeleteDes();">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn" onclick="return clearDes();">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Designation Modal -->


<script src="~/JS/Designation.js"></script>
<script src="~/JS/Common.js"></script>
