



<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Division</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Division</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Division</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblDivision" class="table table-striped custom-table mb-0">
                            <thead>
                                <tr>

                                    <th style="width: 30px;">Sno</th>
                                    <th>Group</th>
                                    <th>Division</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- Add Department Modal -->
<div id="add_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" id="hdnDivisionID" />
                        <label>Group Name <span class="text-danger">*</span></label>
                        <select id="ddl_Group" class="select"><option>Select</option></select>

                    </div>
                    <div class="form-group">
                        <label for="DivisionName">Division Name</label>
                        <input type="text" class="form-control" id="txt_DivName" placeholder="Division Name" />
                    </div>
                    <div id="divProgressCreate" class="row progress-spinner text-center"></div>
                    <div class="submit-section" id="create-product-buttons">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add_Div();">Add</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" onclick="Update_Div();" style="display:none">Update</button>
                        <button type="button" class="btn btn-default" onclick="clearTextBox();">Close</button>
                    </div>
                    @*<div class="alert alert-success alert-dismissible fade show" role="alert" >
                        <strong>@ViewBag.Sucess</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@


                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Department Modal -->



<script src="~/JS/Division.js"></script>
