

    
    <script src="~/JS/Group.js"></script>

    <div class="container">
        <h2>Add Group</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearText();">Add Group</button>
        <br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Group Name</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="MyModal" tabindex="1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title" id="myModalLabel">Add Group</h4>
                </div>
                <div class="modal-body">
                    <form>
                        
                            <input type="hidden" class="form-control" id="GroupId" placeholder="Group ID" disabled="disabled" />
                       
                        <div class="form-group">
                            <label for="GroupName">Name</label>
                            <input type="text" class="form-control" id="GroupName" placeholder="Group Name" onkeypress="return onlyString(event)" maxlength="50" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" onclick="Update();" style="display:none">Update</button>
                    <button type="button" class="btn btn-default" onclick="clearTextBox();">Close</button>
                </div>
            </div>
        </div>
    </div>

