





<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Holidays 2019</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Holidays</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i class="fa fa-plus"></i> Add Holiday</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tblHoliday" class="table table-stripped mb-0">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Holiday Name</th>
                            <th>Date</th>
                            <th>Year</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal custom-modal fade" id="add_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Holiday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="return clearholiday();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>

                    <input type="hidden" id="hdnHoliday" />

                    <div class="form-group">
                        <label for="HolidayName">Optional</label>
                        <input id="chkid" type="checkbox" />
                    </div>
                    <div class="form-group">
                        <label for="HolidayName">Holiday Name</label>
                        <input type="text" class="form-control validate" id="txt_holName" placeholder="Holiday Name" onkeypress="return onlyString(event)" />
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>

                        @*<input type="text" id="datepicker" class="form-control" placeholder="01/01/1999">*@
                        <input type="text" id="tbDate" class="form-control validate" />

                    </div>

                    <div class="form-group">
                        <label for="year">year</label>
                        <input type="text" class="form-control validate" id="txt_Year" placeholder="Year" onkeypress="return isNumberKey(event)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddHoliday();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateHoliday();" style="display:none">Update</button>

            </div>
        </div>
    </div>
</div>

<script src="~/JS/Holiday.js"></script>
<script src="~/JS/Common.js"></script>