



<div class="panel-body">
    <button type="button" class="btn-white" data-toggle="modal" data-target="#myModal" onclick="CloseTextBox();">Add State</button>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="CloseTextBox();">&times;</button>
                        <h4 class="modal-title">Add State</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="hdnStateID" />

                            <div class="form-group">
                                <label for="CountryName">Country Name</label>
                                <select id="ddl_Country"><option>Select</option></select>
                            </div>
                            <div class="form-group">
                                <label for="StateName">State Name</label>
                                <input type="text" class="form-control" id="txt_StateName" placeholder="State Name" onkeypress="return onlyString(event)" maxlength="100" />
                            </div>
                            <div class="form-group">
                                <label for="StateName">State Code</label>
                                <input type="text" class="form-control" id="txt_StateCode" placeholder="State Code" />
                            </div>
                            <div class="form-group">
                                <label for="StateGstCode">State GST Code</label>
                                <input type="text" class="form-control" id="txt_StateGstCode" placeholder="State Gst Code" onkeypress="return isNumberKey(event)" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-blue" id="btnAdd" onclick="return AddState();">Add</button>
                        <button type="button" class="btn btn-primary btn-blue" id="btnUpdate" onclick="UpdateState();" style="display:none">Update</button>
                        <button type="button" class="btn btn-default btn-blue" onclick="CloseTextBox();">Close</button>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="errMsg alert-box alert-success border-0 disabled" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="errMsg1 alert-box alert-danger border-0 disabled" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">State Data</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">State </li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add State</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-hover  datatable table-striped">
                            <thead>
                                <tr>
                                    @*<th style="width: 30px;">#</th>*@

                                    <th>State Name</th>
                                    <th>Country Name</th>
                                    <th>State Code</th>
                                    <th>State Gst Code</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>





<script src="~/JS/State.js"></script>
