@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="HRMS">
    <meta name="keywords" content="HRMS">
    <meta name="author" content="HRMS">
    <meta name="robots" content="HRMS">
    <title>Login - HRMS </title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/Content/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/Content/assets/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="account-content">

            <div class="container">

                <!-- Account Logo -->
                <div class="account-logo">
                    @*<a href="index-2.html"><img src="/Content/assets/img/logo2.png" alt="Dreamguy's Technologies"></a>*@
                </div>
                <!-- /Account Logo -->

                <div class="account-box">
                    <div class="account-wrapper">
                        <h3 class="account-title">Login</h3>
                        <p class="account-subtitle">Access to our dashboard</p>

                        <!-- Account Form -->
                        <form>
                            <div class="form-group">
                                <label hidden="hidden">Customer ID</label>
                                <input class="form-control" id="txt_CustID" value="7016" onchange="return isNumberKey(this)" type="text" hidden="hidden">
                            </div>
                            <div class="form-group">
                                <label>User Name</label>
                                <input class="form-control" id="txt_UserName" type="text">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-auto">
                                        <a class="text-muted" href="forgot-password.html">
                                            Forgot password?
                                        </a>
                                    </div>
                                </div>
                                <input class="form-control" type="password" id="txt_Pwd">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary account-btn" id="btnLogin" type="button">Login</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="errMsg1 alert-box alert-danger border-0 disabled" role="alert">                                    
                                </div>
                            </div>
                        </form>
                        <!-- /Account Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="/Content/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/Content/assets/js/popper.min.js"></script>
    <script src="/Content/assets/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/Content/assets/js/app.js"></script>
    <script src="~/JS/Login.js"></script>
    <script src="~/JS/Common.js"></script>

</body>
</html>
