
@*@Styles.Render("~/bundles/CssStyles")
@Styles.Render("~/bundles/CssStylesDatepicker")*@



    <!--<div class="page-header">
      <h1 class="page-title">Dashboard</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>-->
    <div class="page-content">
        <div class="panel">
            <div class="panel-header">
                <h3 class="example-title">Dashboard</h3>
            </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-6">
                        <!-- Example Basic Form (Form grid) -->
                        <form autocomplete="off">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">First Name</label>
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Gender</label>
                                <div>
                                    <div class="radio-custom radio-default radio-inline">
                                        <input type="radio" id="inputBasicMale" name="inputGender">
                                        <label for="inputBasicMale">Male</label>
                                    </div>
                                    <div class="radio-custom radio-default radio-inline">
                                        <input type="radio" id="inputBasicFemale" name="inputGender" checked="">
                                        <label for="inputBasicFemale">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <div class="checkbox-custom checkbox-default">
                                    <input type="checkbox" checked="" autocomplete="off">
                                    <label for="inputBasicRemember">Remember Me</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">Sign Up</button>
                            </div>
                        </form>
                        <!-- End Example Basic Form (Form grid) -->
                    </div>
                </div>
            </div>
        </div>
    </div>


