
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employee List</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
                <div class="view-icons">
                    <a href="/Employee/EmployeeDivList" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                    <a href="/Employee/EmployeeList" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row staff-grid-row" id="divContent">
    </div>
    <!-- Add Employee Modal -->
    <div id="add_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseDivModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("_EmployeeDeatils");
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Add Employee Modal -->
    <!-- Delete Department Modal -->
    <div class="modal custom-modal fade" id="delete_Employee" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Employee</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">

                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary continue-btn" onclick="return FinalDivDelete();">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Department Modal -->
</div>
<script src="~/JS/EmployeeDivList.js"></script>
<script src="~/JS/EmployeeList.js"></script>
<script src="~/JS/Employee.js"></script>
<script src="~/JS/Common.js"></script>
