
@{
    Layout = null;
}

<!-- Footer -->
<footer class="site-footer">
  <div class="site-footer-legal">© 2019 <a href="">Copyright</a></div>
  <div class="site-footer-right"> Developed <i class="red-600 wb wb-heart"></i> by <a href="#">Developer</a> </div>
</footer>