


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery.timepicker.min.css" rel="stylesheet" />

    <script src="~/JS/Shift.js"></script>

    <div>
        <form>
            <div class="form-group">
                <label for="EmployeeGroup">Employee Group</label>
                <select id="ddl_EmpGroup"><option>Select</option></select>
            </div>
            <div class="form-group">
                <label for="ShiftName">Shift Name</label>
                <input type="text" class="form-control" id="txt_ShiftName" placeholder="Shift Name" />
                
                <input type="hidden" value="" id="hdnShiftId" />
            </div>
            <div class="form-group">
                <label for="ShiftCode">Shift Code</label>
                <input type="text" class="form-control" id="txt_ShiftCode" placeholder="Shift Code" />
            </div>
            <div class="form-group">
                <label for="InTime">In Time</label>
                <input type="text" class="form-control time" id="txt_InTime" data-time-format="H:i" data-step="15" data-min-time="10:00" data-max-time="18:00" placeholder="24 hrs format" data-show-2400="true" />
            </div>
            <div class="form-group">
                <label for="OutTime">Out Time</label>
                <input type="text" class="form-control time" id="txt_OutTime" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="LateCutIn">Late Cut In Time</label>
                <input type="text" class="form-control time" id="txt_CutIn" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="ShiftCutOff">Shift In Cut Off Time</label>
                <input type="text" class="form-control time" id="txt_ShiftCutOff" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="SecShiftIn">Second Shift In Time</label>
                <input type="text" class="form-control time" id="txt_SecShiftIn" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="SecShiftLateIn">Second Shift Late In Time</label>
                <input type="text" class="form-control time" id="txt_SecShiftLateIn" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="SecShiftCut">Second Shift Cut Off Time</label>
                <input type="text" class="form-control time" id="txt_SecShiftCutOff" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="OTBShift">OT Before Shift</label>
                <input type="text" class="form-control time" id="txt_OTBShift" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="OTAShift">OT After Shift</label>
                <input type="text" class="form-control time" id="txt_OTAShift" placeholder="24 hrs format" />
            </div>
            <div class="form-group">
                <label for="TotalHrs">Total Hours</label>
                <input type="text" class="form-control time" id="txt_Hours" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="AddShift();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateShift();" style="display:none">Update</button>
                <button type="button" class="btn btn-default" onclick="clearTextBox();">Clear</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Shift Name</th>
                <th>Shift Code</th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

